%h2
    = link_to "Courses", 'courses/index', class: "btn btn-lg btn-primary"
    = link_to "Request Course", 'request/index', class: "btn btn-lg btn-primary"
    = link_to "Create Course", 'create/index', class: "btn btn-lg btn-primary"
    