%h1 List of Kiwi Professors:
%table#users
  %thead
    %tr
      %th Name
  %tbody
    %tr
    - @users.each do |user|
      %tr
      - if (user.isProfessor.equal?(true))
        %td= "#{user.name}"
