%h3 This will have a login and signinnnnggg up form

%h1 Sign Up
= form_tag :action => 'signup' do
    = label_tag 'fullname_terms', 'Full Name'
    = text_field_tag 'fullname_terms'
    = submit_tag 'Sign Up'
    
