-# This file us app/views/courses/index.html.haml
%h1 All Courses

%table#courses
  %thead
    %tr
      %th Course Title
      %th Code
      %th Professor
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.title
        %td= course.coursecode
        %td= course.professor
        

